{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "YOUR_DEVELOPMENT_CONNECTION_STRING_HERE"
  },
  "Jwt": {
    "Key": "YOUR_SECRET_KEY_HERE_AT_LEAST_32_CHARACTERS_LONG_FOR_DEVELOPMENT",
    "Issuer": "https://localhost:5000",
    "Audience": "https://localhost:5000",
    "ExpiresMinutes": "60"
  }
}
